{
  "presets": [ "babel-preset-expo" ],
  "env": {
    "development": {
      "plugins": [ "transform-react-jsx-source" ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": [ "." ],
        "alias": {
          "reactxx": "./deploy/es/reactxx/native",
          "^reactxx-mdi/(.+)": "reactxx-mdi",
          "reactxx-mui": "./deploy/es/mui/native",
          "reactxx-stateman": "./deploy/es/stateman"
        }
      }
    ]
  ]
}
