{
  "presets": [ "babel-preset-expo" ],
  "env": {
    "development": {
      "plugins": [ "transform-react-jsx-source" ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": [ "." ],
        "alias": {
          "muix-primitives": "./deploy/es/primitives/native",
          "muix-components": "./deploy/es/components/native",
          "muix-styles": "./deploy/es/styles/native",
          "^muix-icons/(.+)": "muix-icons"
        }
      }
    ]
  ]
}
